<h2>Orders Index page</h2>


<h3>Products</h3>
<table>
  <thead>
    <td>
      Image?
    </td>
    <td>
      Item Name
    </td>
    <td>
      Unit Price
    </td>
    <td>
      Quantity
    </td>
    <td>
      Edit/Delete?
    </td>
    <td>
      Subtotal
    </td>
  </thead>
  <tbody>

<!-- QUESTION: render partial the repeated code below to DRY it up? -->
<% @orders.order_items.each do |order_item| %>
  <tr>
    <td>

    </td>
    <td>
      <%= link_to order_item.product.name, product_path(order_item.product.id) %>
    </td>
    <td>
      <!-- TODO: do some work to display it nicely -->
      <%= order_item.product.price %>
    </td>
    <td>
      <%= order_item.quantity %>
    </td>

    <td>
      <%= form_with model: @order_item, url: order_items_update_path(:order_item_id => order_item), method: :put do |f|%>

        <%= f.label :quantity%>
        <%= f.select :quantity, (1..order_item.product.inventory) %>
        <%= f.submit "Update" %>

      <% end %>

    </td>
    <td>
      <%= link_to 'Remove from Cart', order_item_path(order_item.id), method: :delete, data: { confirm: "Are you sure you want to delete item:  #{order_item.product.name}?" } %>
    </td>
    <!-- TODO: decide if link here should change column from true to false -->
    <td>
      Subtotal
    </td>
  </tr>
  <% end %>
  <tr>
    <td>
      TOTAL
    </td>
  </tr>
</tbody>
</table>
