<h2> Orders Summary: </h2>

  <% if @login_user != nil %>
  <!-- these need to be filtered by revenue, order status, total orders -->
  <table>
    <thead>
      <td>
    <th>Total Revenue: XX$</th>
    </td>
    <td>
      by status Paid: XX$
    </td>
    <td>
      by status Completed: XX$
    </td>
  </table>

<br>

  <table>
    <td>
      <th>Total Orders: </th>
    </td>
    <td>
      Orders Paid:
    </td>
    <td>
      Orders Completed:
    </td>
  </table>

<br>

  <table>
    <td>
      <th>Filter by Status: All Orders --toggle-- </th>
    </td>
    <td>
      Paid:
    </td>
    <td>
      Complete:
    </td>
  </table>
  <% end %>



  <h2>Orders</h2>

<table>
  <thead>

  <tr class="order-header">
    <th>Order ID</th>
    <th>Purchase Date</th>
    <th>Item Name</th>
    <th>Item Quantity</th>
    <th>Item Price</th>
    <th>Item Subtotal</th>
    <th>Current Status</th>
    <th>Ship Status</th>
  </thead>

<tbody>

  </tr>
  <% @order_items.each do |item| %>
  <tr class="order-row">
    <td>
      <%= link_to item.order.id, order_path(item.order) %>
    </td>
    <td>
      <!-- QUESTION: USE UPDATED_AT INSTEAD? -->
      <%= item.order.created_at.strftime("%m/%d/%Y") %>
    </td>
    <td>
        <%= item.product.name %>
    </td>
    <td>

        <%= item.quantity %>
      </td>
      <td>

          <%= number_to_currency(item.product.price_int_to_float, precision: 2) %>
        </td>
<td>
          <%= number_to_currency(item.order_item_subtotal, precision: 2) %>

    </td>
    <td>
      <%= item.order.payment_status %>
    </td>
    <td>
      <!-- Shipped button needs to toggle to ship -->
      <%= link_to "Mark as shipped", edit_product_path(item.order.id),
      class: "btn btn-danger"%>
    </td>


  </tr>
  <% end %>
</tbody>
</table>
