<h2>Product Details</h2>

<h4><strong><%= @product.name %></strong></h4>


<div><strong>Price:$</strong>
  <%= @product.price %>
</div>

<div><strong>Description:</strong>
  <%= @product.description %>
</div>

<div><strong>Rating:</strong>
  <%= %>
</div>

<div><strong>Reviews:</strong>
  <%= %>
</div>

<div><strong>Seller:</strong>
  <%= link_to @product.merchant.username, merchant_path(@product.merchant.id) %>
</div>


<div><strong>Categories:</strong>
  <% @product.categories.each do |c| %>
  <%= link_to c.category_name, category_products_path(c.id) %>
  <% end %>
</div>

<div><strong>Add to Item to Cart</strong>

  <%= form_with model: @order, url: product_order_items_create_path(@product.id), method: :post do |f|%>

    <%= f.label :quantity%>
    <%= f.select :quantity, (1..@product.inventory) %>
    <%= f.submit "Submit Quantity" %>

  <% end %>


</div>

<div><strong>Inventory:</strong>

  <div><strong><%= link_to "Back to All Products", products_path %></strong>

  </div>
