<section class="product-title">
  <h2>Product Details</h2>
</section>

<div class="show-grid-container">
  <section class="show-grid-image">
    <%= image_tag "#{@product.photo_url}", class: "show-image" %>
  </section>


  <section class="show-grid-details">
    <h4>
      <strong><%= @product.name %></strong>
    </h4>

    <div><strong>Price:$</strong>
        <%= @product.price %>
    </div>

    <div><strong>Seller:</strong>
      <%= link_to @product.merchant.username, merchant_path(@product.merchant.id) %>
    </div>

    <div>
    <%= form_with model: @order, url: product_order_items_create_path(@product.id), method: :post do |f|%>
      <%= f.label :quantity%>
      <%= f.select :quantity, (1..@product.inventory) %><br>
      <%= f.submit "Add Item to Cart" %>
      <% end %>
    </div>

    <div><strong>Description:</strong>
      <%= @product.description %>
    </div>

    <div><strong>Categories:</strong>
      <% @product.categories.each do |c| %>
      <%= link_to c.category_name, category_products_path(c.id) %>
      <% end %>
    </div>
  </section>
</div>

  <section class="review-container">
    <div><strong>Rating Summary:</strong>
      <%= %>
    </div>
    <div><strong>Reviews:</strong>
      <%= %>
    </div>
  </section>

</div>
